/* Master Styles */


h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;

}
h2, h3{
    font-size: 140%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

#icon{
    height: 100px;
    width: 100px;
}

/*div{*/
    /*border: 1px solid red;*/
/*}*/

.left-container{
    float: left;
    width: 550px;
    height: 90%;
}

.right-container{
    margin-left: 550px;
    background-color: #151517;
    border: 2px solid white;
    height: 90%;
}

.result-title{
    padding: 12px;
}



select, input{
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 1px solid white;
    width: 240px;
    height: 70px;
    border-radius: 5px;
    padding: 10px;

}


.banner, .container, select, input{
    background-color: #272729;
}


.banner{
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
    border: 4px solid white;
}

.container{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
    height: 100%;
    border-radius: 0px 0px 5px 5px;
}

button{
    font-size: 110%;
    padding: 20px;
    width: 140px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}

#okay{
    background-color: #2ea571;
}

#comp{
    background-color: #f66151;
}




#results-box, #comparison-box{
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

table{
    width: 100%;
    height: 80%;
    border-collapse: collapse;
}

td{
    padding: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}



body {
    margin: 2em;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
