/* Master Styles */


h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 280%;

}
h2, h3{
    font-size: 140%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

#icon{
    height: 100px;
    width: 100px;
}

/*good for checking layouts*/

/*div{*/
    /*border: 1px solid red;*/
/*}*/

.left-container{
    float: left;
    width: 600px;
    height: 90%;
}

.right-container{
    margin-left: 550px;
    background-color: #151517;
    border: 2px solid white;
    border-radius: 5px;
    height: 80%;
    overflow: scroll;

}

.result-title{
    font-weight: bold;
    padding: 20px;
    font-size: 30px;
    border-bottom: 2px solid white;
}



select, input{
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 1px solid white;
    width: 240px;
    height: 70px;
    border-radius: 5px;
    padding: 10px;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/

}


.banner, .container, select, input{
    background-color: #272729;
}


.banner{
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
    border: 4px solid white;
}

.container{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
    height: 1000px;
    border-radius: 0px 0px 5px 5px;
}

button{
    font-size: 110%;
    padding: 20px;
    width: 140px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}

#okay{
    background-color: #2ea571;
}

#comp{
    background-color: #f66151;
}

.blueHead, .redHead{
    font-size: 34px;
    opacity: .8;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}

.blueHead{
    color: #264bc8;

}

.redHead{
    color: #cb2700;
}


#results-box, #comparison-box{
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}


.eDate{
    padding: 4px;
    opacity: .5;
}

.weatherEntry{
    border-bottom: 2px solid white;
    padding: 10px;
    font-size: 20px;
    height: 190px;
}


.weatherTemp, .weatherMain, .weatherHumid, .weatherPressure, .weatherWind{
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 1px solid red;*/
}

.bigData{
    margin-left: 14px;
    float: left;
    font-size: 55px;

}
.smallData{
    margin-top: 14px;
    margin-right: 14px;
    font-weight: lighter;
    float:right;

}


#manageButton button{
    margin-top: 30px;
    width: 265px;
    background-color: #66ccff;
}

#cityManager{
    margin-top: 0px;
    background-color: #151517;
    border: 2px solid white;
    width: 260px;
    border-radius: 2px 2px 5px 5px;


}


#cityManager input, #cityManager button{
    list-style-type: none;
    margin-bottom: 3px;
    width: 260px;
    border: none;
}




#cityManager ul{
    padding-left:0px;
}


#cityManager li{
    font-size: 20px;
    list-style-type: none;
    margin: 7px;
    padding: 10px;
    color: white;
    /*border: 1px solid white;*/
}

#cityManager label{
    float: right;
}

#cityManager #addCit{
    background-color: #2e5f80;
}



table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    min-width: 70px;
    height: 60px;
    padding: 10px;
    text-align: left;
}

th{
    font-weight: bolder;
    font-size: larger;
}

td{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#my-chart{

    height: 100%;
    width: 100%;
}




body {
    margin: 2em;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
