
<div class = "button">
    <button type="submit" id="comp" (click)="compClicked()">COMPARE</button>
</div>

<div *ngIf="!compMode" class="form-group">
    <h3>Select City:</h3>
    <select class="form-control" id="city" #cvar (change)="changeCity(cvar.value)">
        <option *ngFor="let en of cities" [value]="en.name">{{en.name}}</option>
    </select>

    <h3>Select Date:</h3>
    <input type="date" value= {{startDate}} #svar (change)="changeStart(svar.value)">
    <input type="date" value ={{endDate}} name="ed" #evar (change)="changeEnd(evar.value)">

</div>


<div *ngIf="compMode" class="form-group">

    <h3 class="blueHead">Dataset A</h3>

    <select class="form-control"  #compCity1 (change)="comparisonData(compCity1.value, compCity2.value, cDate1.value, cDate2.value)">
        <option *ngFor="let en of cities" [value]="en.name">{{en.name}}</option>
    </select>

    <input type="date" value= {{compDate1}} #cDate1 (change)="comparisonData(compCity1.value, compCity2.value, cDate1.value, cDate2.value)">


    <h3 class="redHead">Dataset B</h3>
    <select class="form-control"  #compCity2 (change)="comparisonData(compCity1.value, compCity2.value, cDate1.value, cDate2.value)">
        <option *ngFor="let en of cities" [value]="en.name">{{en.name}}</option>
    </select>

    <input type="date" value= {{compDate2}} #cDate2 (change)="comparisonData(compCity1.value, compCity2.value, cDate1.value, cDate2.value)">

</div>

<div class = "button">
    <button type="submit" id="okay" (click)="submitClicked()">OKAY</button>
</div>

<div class = "button" id="manageButton">
    <button type = "submit" (click)="managedClicked()">MANAGE CITIES</button>
</div>

<div *ngIf="pollMode" class = "form-group" id="cityManager">

    <ul>
        <li *ngFor="let en of cities">{{en.name}}
            <label (click)="deleteClicked(en)">X</label>
        </li>
    </ul>

    <input placeholder="City" #newCityName />
    <input placeholder="Country Code"#newCode />

    <button id = "addCit"(click)="addCity(newCityName.value, newCode.value); newCityName.value='';newCode.value=''">Add</button>


</div>



