
<div class="form-group">
    <h3>Select City:</h3>
    <select class="form-control" id="city" #cvar (change)="changeCity(cvar.value)">
        <option *ngFor="let en of cities" [value]="en.name">{{en.name}}</option>
    </select>
</div>

<div class = "button">
    <button type="submit" id="comp" (click)="compClicked()">COMPARE</button>
</div>

<div class="form-group">
    <h3>Select Date:</h3>
    <input type="date" value= {{startDate[0]}} #svar (change)="changeStart(svar.value, 0)">
    <input type="date" value ={{endDate[0]}} name="ed" #evar (change)="changeEnd(evar.value, 0)">

</div>

<div *ngIf="compMode" class="form-group">
    <br/>
    <input type="date" value= {{startDate[1]}} #svar2 (change)="changeStart(svar2.value, 1)">
    <input type="date" value ={{endDate[1]}} name="ed" #evar2 (change)="changeEnd(evar2.value, 1)">
</div>

<div class = "button">
    <button type="submit" id="okay" (click)="submitClicked()">OKAY</button>
</div>



